@tailwind base;
@tailwind components;
@tailwind utilities;

/* html{
  overflow: hidden;
} */
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 0.8in !important;
  margin: 1rem ;
  box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.5);
  background-color: black;
}

.ql-container.ql-snow {
  border: none !important;
  display: flex;
  justify-content: center;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border-radius: 40px 40px 40px 40px;
  margin: 1rem 1rem 0 1rem;
  z-index: 1;
  background-color: #2c2c2c;
  border: none !important;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0 0.5); */
}

/* .ql-container.ql-snow{ border: none !important;} */

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }
  .ql-toolbar.ql-snow {
    display: none;
  }
  .document_nav {
    display: none;
  }
}